@model ProductIndexViewModel
@{
    ViewData["Title"] = "Product Catalog";
}

<a asp-action="Create" asp-controller="Product">Create Product</a><br/>
@*@Html.ActionLink("Search Products", "Search", "Products")*@
<a asp-action="Search" asp-controller="Product">Search Products</a>

<h1>All available products</h1>

@await Html.PartialAsync("_ProductList", Model.Products)

<ul class="pagination">
    @for(int i = 1; i <= Model.MaxPage; i++)
    {
        if (i == Model.CurrentPage)
        {
            <li class="page-item active">
                <span class="page-link">Page @i</span>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-id="@i">Page @i</a>
            </li>
        }
        
    }
    
</ul>